@import "../../../../styles/app.scss";

.soStatus{
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: black;
  display: inline-block;
  margin: 0 10px;
  padding: 0 20px;
}

.unfinished {
  background: $unfinished-bgcolor;
}

.executing {
  background: $executing-bgcolor;
}

.complete {
  background: $finished-color;
}