@charset "utf-8";
$body-bgcolor:#fff;
$font-color:red;

@mixin prefix($key,$value){
  -webkit-#{$key}:$value;
  -moz-#{$key}:$value;
  -o-#{$key}:$value;
  #{$key}:$value;
}

html,body{
  margin:0;
  padding:0;
  @include prefix(box-sizing,border-box);
  @include prefix(user-select,none);
}

#app{
  color:$font-color;
}