@import "../../../styles/mixin";
@import "../../../styles/app";

.btnTest{
  span {
    line-height: 1;
  }
  @include btn();
  i {
    color: $main-color;
  }
  &:hover {
    @include btn (200px, 10px, $white, $main-color);
    i {
      color: $white;
    }
  }
}